@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  margin: 0;
  background-color: #d9d9d9;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

p,
a {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  max-width: 600px;
}

/*  */

.close:focus {
  outline: none;
}

.btn-secondary {
  margin-right: 20px;
}

.btn-ready {
  min-height: 110px;
  min-width: 20px;
  margin-left: 5px;
  border-radius: 0;
}

.btn-add {
  margin-top: 120px;
  float: right;
}

.btn-outline-success {
  margin-left: 2px;
}

.image-button {
  width: 30px;
  height: 30px;
  background-image: url("./images/icons/three-dots-vertical.svg");
  border: none;
  background-size: cover;
}

.close {
  margin-left: 10px;
}

/*  */

.link-to-add:before {
  display: inline-block;
  font-family: "bootstrap-icons";
  content: "\F4FA";
  margin-right: 5px;
}

.link-to-today:before {
  display: inline-block;
  font-family: "bootstrap-icons";
  content: "\F1E4";
  margin-right: 5px;
}

.link-to-search:before {
  display: inline-block;
  font-family: "bootstrap-icons";
  content: "\F52A";
  margin-right: 5px;
}

/*  */

.task-card {
  min-height: 110px;
  margin-bottom: 15px;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;
  background-color: white;
}

.task-title {
  font-weight: bold;
}

.task-important {
  color: red;
}

.task-urgent {
  color: blue;
}

.task-completed {
  color: green;
}

.task-time {
  font-size: 0.9em;
  color: #6c757d;
  position: absolute;
  bottom: 5px;
}

.task-time::before {
  font-family: "bootstrap-icons";
  content: "\F102";
  margin-right: 5px;
  align-items: center;
}

.task-label {
  background-color: #e2e3e5;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 5px;
}

/*  */

.badge {
  font-weight: 500;
  height: 20px;
  font-size: 12px;
}

.badge-text {
  font-size: 10px;
}

.rounded-pill {
  border-radius: 15%;
}

/*  */

/* .search-container {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 60px;
  } */

/* .search-container:before {
    font-family: "bootstrap-icons";
    content: "\F52A";
    font-size: 24px;
    margin-right: 8px;
    opacity: 50%;
  } */

/*  */

.header {
  margin-bottom: 30px;
  background-color: #ffffff;
}

.img-logo {
  margin: 19px 0 19px 19px;
}

.container {
  padding: 24px;
  max-width: 800px;
  min-height: 100vh;
  background-color: #ffffff;
  border-radius: 2%;
  padding-bottom: 50px;
}

.container-footer {
  background-color: #ffffff;
  margin: 30px 0px 0px 0px;
}

.container_task-card {
  display: flex;
  justify-content: space-between;
}

.footer p {
  margin-bottom: 0px;
  padding: 30px;
}

.dropdown-toggle:after {
  font-family: "bootstrap-icons";
  content: "\F5D3";
  border-top: 0em solid blue;
}

.form-check label {
  font-weight: 500;
}

.check-complete {
  opacity: 0.7;
}

.label-complete {
  text-decoration: line-through;
}
.completeTaskText {
  text-decoration: line-through;
}

.card-info p {
  display: inline-block;
  margin: 0;
}

.modal-body p {
  word-wrap: break-word;
}
